/node_modules
/vendor
/storage/*.key
/public/build
/public/hot
/public/storage
/cache/
/.composer
/.fleet
/.idea
/.vscode
/.cache/
/.config/
/.local/
/.npm/
/.pki/
/.composer
/.idea
/.vscode
Homestead.json
Homestead.yaml
auth.json
.env
.env.backup
.env.production
.phpunit.result.cache
.php-cs-fixer.cache
npm-debug.log
yarn-error.log
composer.lock
composer.phar
.ash_history
.bash_history
.DS_Store
.vscode
.php-cs-fixer.cache
*.log
